@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #fdfdfc;
  cursor: url("/images/unicorn-cursor.png"), auto;
}

@media screen and (max-width: 300px) {
  .question-text {
    margin-top: 310px;
  }
  .star {
    display: none;
  }

  .progress-number {
    width: 10px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.light {
  /* Light mode styles */
  color: #000000;
}

.dark {
  /* Dark mode styles */
  background-color: #000000;
  color: #ffffff;
}

.dark .restart-question {
  color: #ffffff;
}

.restart-button:hover {
  background-color: rgb(75, 44, 144);
}

/* Dark mode specific styles for unicorn-pc */
.dark .unicorn-pc {
  filter: brightness(1) invert(1);
}

.dark .unicorns-dancing {
  filter: brightness(1) invert(1);
}
