@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #fdfdfc;
}

@media screen and (max-width: 300px) {
  .question-text {
    margin-top: 310px;
  }
  .star {
    display: none;
  }

  .progress-number {
    width: 10px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

.light {
  /* Light mode styles */
  color: #000000;
}

.dark {
  /* Dark mode styles */
  background-color: #000000;
  color: #ffffff;
}

  .restart-question {
    color: #ffffff;
  }

  .restart-button:hover {
    background-color: rgb(75, 44, 144);
  }

